@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f6faff;
  --foreground: #1C458F;
  --card: #fcffff;
  --card-foreground: #000000;
  --popover: #fcffff;
  --popover-foreground: #000000;
  --primary: #1c458f;
  --primary-foreground: #ffffff;
  --secondary: #af6c1c;
  --secondary-foreground: #000000;
  --muted: #e2e8ef;
  --muted-foreground: #636c77;
  --accent: #7f9ee5;
  --accent-foreground: #000000;
  --destructive: #6a777c;
  --destructive-foreground: #ffffff;
  --border: #a3a7ad;
  --input: #eaeff6;
  --ring: #3762af;
  --chart-1: #3d62a5;
  --chart-2: #3c61c2;
  --chart-3: #819ed0;
  --chart-4: #1c3885;
  --chart-5: #0f3475;
  --sidebar: #f6faff;
  --sidebar-foreground: #000000;
  --sidebar-primary: #1c458f;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #fcffff;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #cdd5df;
  --sidebar-ring: #3762af;
  --radius: 10px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: #040a15;
  --foreground: #ecfaff;
  --card: #01050e;
  --card-foreground: #ffffff;
  --popover: #01050e;
  --popover-foreground: #ffffff;
  --primary: #69a8ff;
  --primary-foreground: #000000;
  --secondary: #dab067;
  --secondary-foreground: #000000;
  --muted: #141d28;
  --muted-foreground: #a2a9b3;
  --accent: #0f3475;
  --accent-foreground: #ffffff;
  --destructive: #8a8f96;
  --destructive-foreground: #000000;
  --border: #263140;
  --input: #3f4b5b;
  --ring: #4b88dd;
  --chart-1: #508ad9;
  --chart-2: #3d62a5;
  --chart-3: #8abdff;
  --chart-4: #0f3475;
  --chart-5: #215190;
  --sidebar: #040a15;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #69a8ff;
  --sidebar-primary-foreground: #000000;
  --sidebar-accent: #01040c;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #263140;
  --sidebar-ring: #4b88dd;
  --radius: 10px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --font-source-sans-3: "Source Sans 3", sans-serif;
  --font-source-code-pro: "Source Code Pro", monospace;
}

table {
  table-layout: fixed;
  width: 100%;
}